/* Stylesheet by JM (www.iseeyou-designs.com) */

html{
	padding:0;
	margin:0;
}

body{
	background:#fdfef0;
	margin:0;
	padding:0;
	color: #333;/*#72a12d;*/
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size: 14px;
	text-align:center;
}

h1{
	font-family:"Trebuchet MS",arial,sans-serif;
	font-size:30px;
	font-weight:normal;
	background:#fff url(images/moneda.jpg) no-repeat bottom left;
	padding:0 0 10px 70px;
	margin:20px 5px 5px 5px;
}

h3{
	color:#9aba11;
	font-family:geneva,arial,sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	word-spacing:4px;
	letter-spacing:3px;
	font-size:12px;
	font-weight:bold;
	padding:0 20px;
	margin:0;
}

h2{
	font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
	font-size:1.4em;
	margin:20px 5px 0px 20px;
	line-height:2em;
}

p {	line-height:1.8em; }

a:link, a:visited {	color:#39581f;}

a{
	text-decoration:none;
	color:#39581f;
	border-bottom:1px solid #dbe6be;
}

a:hover{
	color:#39581f;
	background-color:#fcfded;
	border-bottom:1px solid #aecb6e;
}

#border{
	max-width:600px;
	padding:0;
	margin:0 auto;
	border-color:#e1efa2;
	border-style:solid;
	border-width:0 5px;
}

#container{
	font-size:16px;
	text-align:left;
	margin:0 auto;
	padding:10px;
	background:#fff;
	border-color:#686923;
	border-style:solid;
	border-width:0 1px;
}

#header{
	width:90%;
	border-bottom:1px solid #e1efa2;
}

#header h3 {
	position:relative;
	top:-15px;
	left:30px;
}

#header ul {
	margin:8px 0 0 0;
	padding: 0;
}

#header li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

#header a, #content h2 a {
	border-bottom: none;
}


#footer{
	text-align:center;
	margin:50px auto 0 auto;
	padding:0;
	color:#b8ce83;
	font-size:0.8em;
	letter-spacing:2px;
}
#footer span{	background-color:#fff;	padding:1px 5px;}
#footer a{	background-color:#fff;	border:0;}
#footer a:link, a:visited{	color:#b8ce83;}
#footer a:hover, a:active{	color:#7Fab20;}

table {
	max-width:400px;
	width: 100%;	
}
th {
    background-color: #4CAF50;
    color: white;
}
th, td {
    padding: 3px 20px;
    text-align: center;
	font: 1em Verdana,Tahoma,Arial,sans-serif;
}
tr:nth-child(even) {background-color: #f2f2f2}